<section id="employeeAdd">
  <div class="container p-5">
    <div class="row  p-2">
      <div class="col offset-6">
        <div class="row" *ngIf="employee">
          <div class="col" style="margin-top: 20px;" routerLinkActive="router-link-active" >
            <p-card header="{{employee.name}}" subheader="{{employee.work}}" [style]="{width: '320px'}" styleClass="p-card-shadow">
              <ng-template pTemplate="header">
                <img alt="Card" src="../../../assets/img/avatar.svg">
              </ng-template>
              <p>Id : {{employee._id}}</p>
              <p>Chức vụ : {{employee.role}}</p>
              <p>Trạng thái công việc: {{employee.status}}</p>
              <p>Email: {{employee.email}}</p>
              <p>Ngày: {{employee.enrollDate | date}}</p>
              <p>Phone: {{employee.phone}}</p>
              <ng-template pTemplate="footer" >
                <p-button label="Save" icon="pi pi-check" [style]="{'height': '40px'}" [routerLink]="['/employee-list']"
                routerLinkActive="router-link-active"></p-button>
                <div class="btn-group">
                  <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary "
                    [style]="{'margin-left': '.5em', 'height': '40px'}" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"></p-button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item">Are you sure delete ??</a>
                    <div class="dropdown-divider"></div>
                    <div class="downmenu">
                      <button type="button" class="btn btn-success">No</button>
                      <button type="button" class="btn btn-danger" (click)="delete(employee._id)" (click)="showError()" >Yes</button>
                    </div>
                  </div>
                </div>

              </ng-template>
            </p-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
