<div class="topbar">
  <div class="toggle">
    <i class="fa-solid fa-bars"></i>
  </div>
  <!-- search -->
  <div class="search">
    <span class="p-input-icon-left"  >
      <i class="pi pi-search"></i>
      <input type="text" pInputText placeholder="Search" [(ngModel)]="value" />
    </span>
  </div>

  <!-- userImg -->
  <div  class="list-icon">
    <div class="icon-item">
      <i class="pi pi-shopping-cart" ></i>
      <i class="pi pi-qrcode" ></i>
      <i class="pi pi-bell"></i>
    </div>
    <div class="user">
      <img *ngIf="!data.employee" src="../../../assets/images/user1.png">
      <img *ngIf="data.employee"  src="../../../assets/images/user.jpg">
    </div>
  </div>
</div>
<hr>


