<div class="surface-section p-5  shadow-1 ">
  <div class="flex align-items-start flex-column lg:flex-row lg:justify-content-between">
    <div class="flex align-items-start flex-column md:flex-row">
      <img *ngIf="!data.employee" src="../../../assets/images/img-avatars/avatar2.jpg" class="mr-5 mb-3 lg:mb-0">
      <img *ngIf="data.employee" src="../../../assets/images/img-avatars/avatar1.png" class="mr-5 mb-3 lg:mb-0">
      <!-- <img *ngIf="data.employee" src="{{data.employee.image}}" class="mr-5 mb-3 lg:mb-0"> -->
      <div>
        <div class="user-name" *ngIf="!data.employee">
          <span class=" text-900 font-medium text-3xl">Person</span>
        </div>
        <div class="user-name" *ngIf="data.employee">
          <span class="text-900 font-medium text-3xl">{{data.employee.name}}</span>
          <i class="pi pi-star text-2xl ml-4 text-yellow-500"></i>
        </div>

        <div *ngIf="!data.employee" class="user-info flex align-items-center flex-wrap text-sm">
          <div class="mr-5 mt-3">
            <span class="font-medium text-500">FOLLOWERS</span>
            <div class="text-700 mt-2">0</div>
          </div>
          <div class="mr-5 mt-3">
            <span class="font-medium text-500">PROJECTS</span>
            <div class="text-700 mt-2">0</div>
          </div>
          <div class="mr-5 mt-3">
            <span class="font-medium text-500">COLLECTIONS</span>
            <div class="text-700 mt-2">0</div>
          </div>
          <div class="mt-3">
            <span class="font-medium text-500">Date</span>
            <div class="text-700 mt-2">MM/dd/yyyy</div>
          </div>
        </div>

        <div *ngIf="data.employee" class="user-info flex align-items-center flex-wrap text-sm">
          <div class="mr-5 mt-3">
            <span class="font-medium text-500">FOLLOWERS</span>
            <div class="text-700 mt-2">333</div>
          </div>
          <div class="mr-5 mt-3">
            <span class="font-medium text-500">PROJECTS</span>
            <div class="text-700 mt-2">26</div>
          </div>
          <div class="mr-5 mt-3 collections">
            <span class="font-medium text-500">COLLECTIONS</span>
            <div class="text-700 mt-2">17</div>
          </div>
          <div class="data mt-3">
            <span class="font-medium text-500">Date</span>
            <div class="text-700 mt-2">{{data.employee.enrollDate | date:'fullDate'}}</div>
          </div>
        </div>

      </div>
    </div>

    <div class="user-btn mt-3 lg:mt-0" >
      <p-button type="button" (click)="showSuccess1()" styleClass="p-button p-button-rounded mr-2" icon="pi pi-bookmark"></p-button>
      <p-button type="button" (click)="showSuccess2()" styleClass="p-button-success p-button-rounded mr-2" icon="pi pi-heart"></p-button>
      <p-button type="button" [routerLink]="['/employee-list']" styleClass="p-button-help p-button-rounded" icon="pi pi-cog"></p-button>
    </div>
  </div>
</div>
