
h1 {
  font-size: 150px;
  font-weight: 700;
  text-align: center;
}

h3 {
  background-color: #287bff;
  text-align: center;
  color: white;
}

p {
  text-align: center;
  margin-top: 20px;
}

.not-found-btn {
  text-align: center;
}
