<section id="employeeAdd">
  <div class="container p-2">
    <div class="row mt-5">
      <div class="col-5 offset-5" style="margin-top: 48px;">
        <div class="not-found">
            <h1>404</h1>
            <h3>Opps! Page not found</h3>
            <p>The page you were looking for doesn't exist. You can have mistyped the address or the page may have moved.</p>
            <button [routerLink]="['/']"  pButton pRipple type="button" label="Back To Home"
              class="p-button-outlined p-button-rounded p-button-danger" [style]="{'margin-left': '35%'} "></button>
        </div>
      </div>
    </div>
  </div>
</section>

