<section id="employeeAdd">
  <div class="container p-2">
    <div class="row mt-3">
      <div class="col-5 offset-3" style="margin-top: 48px;">
        <!-- <app-message></app-message>
        <hr> -->
        <form>
          <div class="card">
            <div class="card-header" style="background-color:  #287bff; padding: 10px 0;">
              <h4 class="text-center" style="margin-bottom: 0px ; color: white;">Edit New Employee</h4>
            </div>
            <div class="card-body">
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" [(ngModel)]="employee.name" class="form-control" name="name" id="name" required
                  #name="ngModel" aria-describedby="nameHid" placeholder="Name">
                <small id="nameHid" *ngIf="!name?.valid && (name?.dirty || name?.touched)" class="form-text text-muted">
                  <p  *ngIf="name.errors?.['required']" class="vali-form">Name is required</p>
                </small>
              </div>


              <div class="form-group">
                <label for="work">Work</label>
                <input type="text" [(ngModel)]="employee.work" class="form-control" name="work" id="work" required
                  #work="ngModel" aria-describedby="workHid" placeholder="Work">
                <small id="workHid" *ngIf="!work?.valid && (work?.dirty || work?.touched)" class="form-text text-muted">
                  <p class="vali-form"> Work is required </p>
                </small>
              </div>


              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" [(ngModel)]="employee.email" class="form-control" name="email" id="email" required
                  email="@gmail.com" #email="ngModel" aria-describedby="emailHid" placeholder="Email">
                <small id="emailHid" *ngIf="!email?.valid && (email?.dirty || email?.touched)"
                  class="form-text text-muted">
                  <p *ngIf="email.errors?.['required']" class="vali-form">Email is required </p>
                  <p *ngIf="email.errors?.['email']" class="vali-form">For example abc@gmail.com </p>
                </small>
              </div>

              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" [(ngModel)]="employee.password" class="form-control" name="password" required
                  minlength="6" #password="ngModel" id="password" aria-describedby="passwordHid" placeholder="Password">
                <small id="passwordHid" *ngIf="!password?.valid && (password?.dirty || password?.touched)"
                  class="form-text text-muted">
                  <p *ngIf="password.errors?.['required']" class="vali-form">Password is required </p>
                  <p *ngIf="password.errors?.['minlength']" class="vali-form">Password 6 characters is required </p>
                </small>
              </div>

              <div class="form-group">
                <label for="phone">Phone</label>
                <input type="text" [(ngModel)]="employee.phone" class="form-control" name="phone" id="phone" required
                  minlength="6" #phone="ngModel" aria-describedby="phoneHid" placeholder="Phone">
                <small id="phoneHid" *ngIf="!phone?.valid && (phone?.dirty || phone?.touched)"
                  class="form-text text-muted">
                  <p *ngIf="phone.errors?.['required']" class="vali-form">phone is required </p>
                  <p *ngIf="phone.errors?.['minlength']" class="vali-form">Must enter on 6 numbers</p>
                </small>
              </div>

              <div class="row">
                <div class="form-group col-6">
                  <label for="status">Status</label>
                  <select class="form-control" [(ngModel)]="employee.status" name="status" id="status" >
                    <option>Đang làm việc</option>
                    <option>Đã nghĩ việc</option>
                    <option>Đang chờ</option>
                  </select>
                </div>

                <div class="form-group col-6">
                  <label for="role">Role</label>
                  <select class="form-control" [(ngModel)]="employee.role" name="role" id="role" >
                    <option>Leader</option>
                    <option>Employee</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="card-footer text-muted">
              <div  style="float: right; " >
                <p-button [routerLink]="['/employee-list']"  label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]=" {'height': '40px' }"></p-button>
                <p-button  label="Save" icon="pi pi-check" [style]="{'margin-left': '.5em', 'height': '40px'}"(click)="update()" (onClick)="showInfo()"></p-button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

