<div class="col-12">
  <div class="ng-star-inserted">
    <div class="surface-section">
      <div class="footer border-top-1 border-300 pt-5 text-center">
        <img src="../../../assets/images/logo.png" alt="Image" height="60">
        <ul class="list-none p-0 mx-0 my-5 flex justify-content-center flex-column align-items-center lg:flex-row">
          <li><a class="text-600 cursor-pointer line-height-3 lg:mr-5">About Us</a></li>
          <li><a class="text-600 cursor-pointer line-height-3 lg:mr-5">News</a></li>
          <li><a class="text-600 cursor-pointer line-height-3 lg:mr-5">Investor Relations</a></li>
          <li><a class="text-600 cursor-pointer line-height-3 lg:mr-5">Careers</a></li>
          <li><a class="text-600 cursor-pointer line-height-3">Media Kit</a></li>
        </ul>
        <div class="flex align-items-center justify-content-center mb-5">
          <button class="footer-btn p-button-text p-button-plain p-button-rounded mr-4 p-button p-component p-button-icon-only">
            <span class="pi pi-twitter"></span>
          </button>
          <button class="footer-btn p-button-text p-button-plain p-button-rounded mr-4 p-button p-component p-button-icon-only">
            <span class="pi pi-github"></span>
          </button>
          <button class="footer-btn p-button-text p-button-plain p-button-rounded mr-4 p-button p-component p-button-icon-only">
            <span class="pi pi-facebook"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
