<app-navigation></app-navigation>
<div class="main">
  <app-header></app-header>
  <div class="surface-card p-4 shadow-2 border-round col-10 md:col-6 lg:col-4 col-offset-1 md:col-offset-3 lg:col-offset-4 mt-3">
    <form>
      <div class="card-header mb-3">
        <h2 class="text-center">Edit New Employee</h2>
      </div>
      <div class="grid formgrid p-fluid">
        <div class="field mb-3 col-12 md:col-12 lg:col-12">
          <label for="name">Name</label>
          <input #name="ngModel" id="name" type="text" name="name" placeholder="Full name" required
            pInputText [(ngModel)]="employee.name" [ngClass]="{'ng-dirty': (name.invalid && submitted) || (name.dirty && name.invalid)}" style="height: 40px;">
          <small *ngIf="(name.invalid && submitted) || (name.dirty && name.invalid)" class="p-error">Name is required.</small>
        </div>

        <div class="field mb-3 col-12 md:col-12 lg:col-12">
          <label for="email">Email</label>
          <input #email="ngModel" id="email" type="email" name="email"
            placeholder="abc@gmail.com" required pInputText [(ngModel)]="employee.email" email="@gmail.com"
            [ngClass]="{'ng-dirty': (email.invalid && submitted) || (email.dirty && email.invalid)}" style="height: 40px;">
          <div *ngIf="(email.invalid && submitted) || (email.dirty && email.invalid)" class="p-error">
            <p *ngIf="email.errors?.['required']" class="vali-form">Email is required </p>
            <p *ngIf="email.errors?.['email']" class="vali-form">For example abc@gmail.com </p>
          </div>
        </div>

        <div class="field mb-3 col-12 md:col-12 lg:col-12">
          <label for="enrollDate">Date</label>
          <p-calendar #enrollDate="ngModel" id="enrollDate" type="text" name="enrollDate"
            placeholder="99/99/9999" [required]="true" [showIcon]="true" [(ngModel)]="employee.enrollDate"
            [ngClass]="{'ng-dirty': (enrollDate.invalid && submitted) || (enrollDate.dirty && enrollDate.invalid)}"
            [style]="{'height': '40px'}"></p-calendar>
          <small *ngIf="(enrollDate.invalid && submitted) || (enrollDate.dirty && enrollDate.invalid)"
            class="p-error">enrollDate is required.</small>
        </div>

        <div class="field mb-3 col-12 md:col-12 lg:col-12">
          <label for="phone">Phone</label>
          <input #phone="ngModel" id="phone" type="text" name="phone"
            placeholder="Phone" required pInputText minlength="10" maxlength="10"
            [(ngModel)]="employee.phone"
            [ngClass]="{'ng-dirty': (phone.invalid && submitted) || (phone.dirty && phone.invalid)}" style="height: 40px;">
          <div *ngIf="(phone.invalid && submitted) || (phone.dirty && phone.invalid)" class="p-error">
            <p *ngIf="phone.errors?.['required']" class="vali-form">Phone is required </p>
            <p *ngIf="phone.errors?.['minlength']" class="vali-form">Phone 10 characters is required </p>
          </div>
        </div>

        <div class="field mb-3 col-12 md:col-12 lg:col-12">
          <label for="work">Description</label>
          <textarea rows="3" cols="30" #work="ngModel" id="work" type="text" name="work"
           placeholder="Description..." required pInputTextarea maxlength="100"
            [(ngModel)]="employee.work"
            [ngClass]="{'ng-dirty': (work.invalid && submitted) || (work.dirty && work.invalid)}"></textarea>
          <small *ngIf="(work.invalid && submitted) || (work.dirty && work.invalid)"
            class="p-error">Description is required</small>
        </div>
      </div>
      <div class="card-footer text-muted">
        <div  class="footer-btn" >
          <p-button [routerLink]="['/employee-list']"  label="Cancel" icon="pi pi-times" styleClass="p-button-secondary w-full md:w-auto lg:w-auto mb-3 md:mb-0 lg:mb-0 h-2.5rem mr-3"></p-button>
          <p-button  label="Save" icon="pi pi-check" (click)="update()" styleClass="w-full md:w-auto lg:w-auto h-2.5rem"></p-button>
        </div>
      </div>
    </form>
  </div>
</div>


